*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
header{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80;
  justify-content: space-between;
  background-color: white;
  /* width: 70%;
  height: 70px; */
  padding:0 40px;
  position: relative;
}

a{
  font-size: 20px;
  margin: 15px;
  text-decoration: none;
  padding: 40px;
  
}
nav a{
  text-decoration: none;
  color:#333 ;
  font-size: 16px;
  padding: 6px 4px;
} 
header h1{ color: black;
display:flex ;
font-size: 40px;
margin: 0;
line-height: 1;


  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* green background section */
.main{
  height: 90vh;
  background: #41d100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 30px;
}

/* card boxes */
.card{
 width: 150px;
 height: 150px;
 background-color: #7b7b7b;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 20px;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;

}
